
header {
    height: 50px;
    border: 2px solid cornflowerblue;
}

h1 {
    float: left;
    font-size: 20px;
    border: 1px solid cornflowerblue;
}

nav {
    padding: 10px;
    float: right;
    /* margin-top: 0.2%; */
    border: 2px solid orange;
}

main {
    border: 1px solid blueviolet;
    width: 99.9%;
    float: left;
}

section {
    width: 70%;
    margin: 10px;
    border: 2px solid greenyellow;
    float: left;
}

article {
    float:left;
    margin: 5px;
    padding: 5px;
    border: 1px solid blue;
}

aside {    
    float:right;
    width:24%;
    text-align: center;
    height: 200px;
    background: orangered;
    border: 2px solid black;
}


footer {
    border: 2px solid green;
    clear: both;
}