
* {
    font-size: 17px;
    font-family: verdana;
    background-color: peru;
}

/* body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/325/140/18/alone-stars-purple-background-hd-wallpaper-preview.jpg)

} */


p {

    color: red;
    font-size: 1.3rem;
}

button {
    font-size: 20px;
}

#buy_now {
    color: black; 
}

#titulo {
    background-color: pink;
}



.imagen-gato {
    border-color: blue;
    border-width: 5px;
    border-style: solid;
}


button, p {
    color: black;
    background-color: green;
}


button.checkout {
    background-color: green;
    color: white;
}


.checkout {
    color: blue;
}

.font-small {
    font-size: 1rem;
}


.mifont-weight {
    font-weight: bold;
}

.mifont-style{
    font-style: italic;
}

.estilo3 {
    line-height: 30px;
}


.visit_dojopy{
    text-decoration: none;
}

.estilo4 {
    text-align: center;
    text-transform: capitalize;

}


.caja-mister {
    background-image: url(https://img.freepik.com/free-photo/watercolour-blue-violet-paint-abstract-background_23-2148517845.jpg);
}


.estilo-5 {
    background-color: greenyellow;
    /* padding: 10px 5px 3px 5px; */
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px; */
    padding: 10px;
}


.estilo-6 {
    background-color: blueviolet;
    /* margin: 100px; */
    margin-top: 100px;
    margin-bottom: 100px;
}

.comprar-ahora {
    padding: 10px;
    /* border: 1px solid black; */
    border-width: 5px;
    border-style: solid;
    border-color: purple;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.imagen-nueva {
    float: right;
}